* { 
	padding: 0; 
	margin: 0;
	font: 15px arial, sans-serif;
}

canvas {
	background: #eee; 
	display: block;
	margin: 0 auto;
}

#gameHeader {
	margin-top: 15px;
}

#helpBtn {
	color: black;
	background: none!important;
	padding: 0!important;
	float: right;
	margin: 0px 10px 0px 0px;
	text-decoration: none;
	border-bottom: 1px dotted black;
}

#help {
	text-align: left;
	padding: 10px;
	border: 1px dotted black;
	margin: 10px;
}

#help td {
		border-top: 1px solid #ddd;
}

ol {
	list-style-position: inside;
	padding-left: 10px;
}

a, a:hover, a:visited, a:active {
	text-decoration: none;
	color: rgb(99,140,204);
}

#gameContainer {
	margin: 0 auto;
	text-align: center;
	max-width: 600px;
}

#gameContainer table {
	margin: 0 auto;
	width: 100%;
}

#gameFooter {
	display:table;
    width:100%;
    table-layout: fixed;
}

button {
	border: none;
    color: white;
    padding: 15px 32px ;
    margin: 5px 0px 5px 0px;
    text-align: center;
    text-decoration: none;
}

button:hover {
	background-color: gray;
}

button:active {
	background-color: gray;
}

input {
	margin: 5px 0px 5px 0px;
	width: 80%;
}

select {
	width: 80%;
}

#optionsContainer > table {
	padding: 3px;
}

table {
	border-collapse: collapse;
	margin-left: 5px;
}

td {
	border-bottom: 1px solid #ddd;
	padding: 5px 5px 5px 5px;
}


#gameFooter > button {
    width: 100%;
}

#optionsContainer {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    
    max-width: 600px;
}

#optionsContainer > button {
	width: 25%;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    display: inline;
    zoom: 1
}

#optionsContainer td > button {
	width: 100%;
}

#optionsContainer > #startGameBtn {
	width: 100%;
	background-color: rgb(99,140,204);
	margin: 5px 0px 5px 0px;
}

#optionsContainer > #startGameBtn:hover {
	background-color: rgb(79,130,184);
}
