* { 
	padding: 0; 
	margin: 0;
	font: 15px arial, sans-serif;
}

canvas {
	background: #EEE; 
	display: block;
	margin: 0 auto;
}

button {
	border: none;
    color: white;
    padding: 15px 32px ;
    margin: 5px 0px 5px 0px;
    text-align: center;
    text-decoration: none;
    background-color: #BBBBBB;
}

button:hover {
	background-color: gray;
}

button:active {
	background-color: gray;
}

table {
	border-collapse: collapse;
	margin-left: 5px;
}

td {
	border-bottom: 1px solid #DDD;
	padding: 5px 5px 5px 5px;
}

#gameHeader {
	margin-top: 15px;
}

#helpBtn {
	color: black;
	background: none;
	padding: 0;
	float: right;
	margin: 0px 10px 0px 0px;
	text-decoration: none;
	border-bottom: 1px dotted black;
}

#help {
	text-align: left;
	padding: 10px;
	border: 1px dotted black;
	margin: 10px;
}

#help td {
		border-top: 1px solid #ddd;
}

ol {
	list-style-position: inside;
	padding-left: 10px;
}

a, a:hover, a:visited, a:active {
	text-decoration: none;
	color: rgb(99,140,204);
}

#gameContainer {
	margin: 0 auto;
	text-align: center;
	max-width: 600px;
}

#gameContainer table {
	margin: 0 auto;
	width: 100%;
	padding: 3px;
}

#optionsCont {
    text-align: justify;
    max-width: 600px;
}

#optionsCont > button {
	width: 25%;
    vertical-align: top;
    display: inline-block;
}

#optionsCont td > button {
	width: 100%;
}

input {
	margin: 5px 0px 5px 0px;
	width: 80%;
}

select {
	width: 80%;
}

#optionsCont > #startGameBtn {
	width: 100%;
	background-color: #638CCC;
	margin: 5px 0px 5px 0px;
}

#optionsCont > #startGameBtn:hover {
	background-color: #4f82b8;
}

#gameFooter {
	display:table;
    width:100%;
    table-layout: fixed;
}

#gameFooter > button {
    width: 100%;
}

